In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import os 
import glob

In [3]:
#!/bin/env python
#-*- coding: utf-8 -*-

In [4]:
train_path = 'dataset/TRAIN/'
train_aws_path = 'dataset/TRAIN_AWS/'
test_path = 'dataset/TEST_INPUT/'
test_aws_path = 'dataset/TEST_AWS/'
meta_path = 'dataset/META/'

In [5]:
train = glob.glob(train_path + '*.csv')
train_aws = glob.glob(train_aws_path + '*.csv')

In [6]:
answer_sample = pd.read_csv('dataset/answer_sample.csv')
answer_sample

       연도           일시  측정소  PM2.5
0       4  01-03 00:00   공주    NaN
1       4  01-03 01:00   공주    NaN
2       4  01-03 02:00   공주    NaN
3       4  01-03 03:00   공주    NaN
4       4  01-03 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[78336 rows x 4 columns]

In [7]:
answer_sample['측정소'].value_counts()

공주      4608
신방동     4608
정림동     4608
이원면     4608
읍내동     4608
예산군     4608
아름동     4608
신흥동     4608
성성동     4608
노은동     4608
문창동     4608
모종동     4608
동문동     4608
독곶리     4608
대천2동    4608
논산      4608
홍성읍     4608
Name: 측정소, dtype: int64

In [8]:
# 파일 읽어와서 데이터 프레임으로 변환 
y_train = pd.DataFrame()
for i in train:
    data = pd.read_csv(i)
    y_train = pd.concat([y_train,data])

In [10]:
y_train.rename(columns={'측정소':'Location'}, inplace=True)
y_train

       연도           일시 Location  PM2.5
0       0  01-01 00:00       공주  0.056
1       0  01-01 01:00       공주  0.060
2       0  01-01 02:00       공주  0.068
3       0  01-01 03:00       공주  0.060
4       0  01-01 04:00       공주  0.068
...    ..          ...      ...    ...
35059   3  12-31 19:00      홍성읍  0.060
35060   3  12-31 20:00      홍성읍  0.052
35061   3  12-31 21:00      홍성읍  0.044
35062   3  12-31 22:00      홍성읍  0.052
35063   3  12-31 23:00      홍성읍  0.060

[596088 rows x 4 columns]

In [11]:
y_train['Location'].value_counts()

공주      35064
신방동     35064
정림동     35064
이원면     35064
읍내동     35064
예산군     35064
아름동     35064
신흥동     35064
성성동     35064
노은동     35064
문창동     35064
모종동     35064
동문동     35064
독곶리     35064
대천2동    35064
논산      35064
홍성읍     35064
Name: Location, dtype: int64

In [15]:
y_train['일시'].value_counts()

01-01 00:00    68
09-01 11:00    68
09-01 05:00    68
09-01 06:00    68
09-01 07:00    68
               ..
02-29 03:00    17
02-29 02:00    17
02-29 01:00    17
02-29 00:00    17
02-29 23:00    17
Name: 일시, Length: 8784, dtype: int64

In [53]:
train_df = pd.DataFrame()
for i in train_aws:
    data = pd.read_csv(i)
    train_df = pd.concat([train_df,data])

In [54]:
train_df

       연도           일시    지점    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
0       0  01-01 00:00    계룡  0.154818  0.410833  0.033248      0.0  0.830
1       0  01-01 01:00    계룡  0.142180  0.148611  0.030691      0.0  0.853
2       0  01-01 02:00    계룡  0.173776  0.203889  0.040921      0.0  0.802
3       0  01-01 03:00    계룡  0.169036  0.330556  0.048593      0.0  0.816
4       0  01-01 04:00    계룡  0.169036  0.000000  0.007673      0.0  0.827
...    ..          ...   ...       ...       ...       ...      ...    ...
35059   3  12-31 19:00  홍성죽도  0.317536  0.953333  0.230179      0.0  0.630
35060   3  12-31 20:00  홍성죽도  0.309637  0.984167  0.253197      0.0  0.648
35061   3  12-31 21:00  홍성죽도  0.308057  0.966667  0.265985      0.0  0.648
35062   3  12-31 22:00  홍성죽도  0.306477  0.976667  0.235294      0.0  0.642
35063   3  12-31 23:00  홍성죽도  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [55]:
y_train['일시'].value_counts()

01-01 00:00    68
09-01 11:00    68
09-01 05:00    68
09-01 06:00    68
09-01 07:00    68
               ..
02-29 03:00    17
02-29 02:00    17
02-29 01:00    17
02-29 00:00    17
02-29 23:00    17
Name: 일시, Length: 8784, dtype: int64

In [56]:
train_df.rename(columns={'지점':'Location'}, inplace=True)
train_df

       연도           일시 Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
0       0  01-01 00:00       계룡  0.154818  0.410833  0.033248      0.0  0.830
1       0  01-01 01:00       계룡  0.142180  0.148611  0.030691      0.0  0.853
2       0  01-01 02:00       계룡  0.173776  0.203889  0.040921      0.0  0.802
3       0  01-01 03:00       계룡  0.169036  0.330556  0.048593      0.0  0.816
4       0  01-01 04:00       계룡  0.169036  0.000000  0.007673      0.0  0.827
...    ..          ...      ...       ...       ...       ...      ...    ...
35059   3  12-31 19:00     홍성죽도  0.317536  0.953333  0.230179      0.0  0.630
35060   3  12-31 20:00     홍성죽도  0.309637  0.984167  0.253197      0.0  0.648
35061   3  12-31 21:00     홍성죽도  0.308057  0.966667  0.265985      0.0  0.648
35062   3  12-31 22:00     홍성죽도  0.306477  0.976667  0.235294      0.0  0.642
35063   3  12-31 23:00     홍성죽도  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [57]:
aws_df = pd.merge(train_df, meta_aws, how='inner', on='Location')

In [58]:
meta_aws = pd.read_csv(meta_path + 'awsmap.csv')
meta_pm = pd.read_csv(meta_path + 'pmmap.csv')

In [59]:
meta_pm

,Location,Latitude,Longitude,Description
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동)
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상
3,문창동,36.317215,127.437825,대전 중구 보문로 20번길 38(문창동 주민센터) 문창동 주민센터
4,읍내동,36.372388,127.417714,대전 대덕구 대전로 1331번길 75(태아산업(주)) 태아산업(주)
5,정림동,36.304442,127.366742,대전 서구 정림동로 10(정림동 주민센터) 정림동 주민센터
6,공주,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
7,논산,36.199217,127.087021,충남 논산시 시민로 389 (취암/부창동 행정복지센터 2층 옥상)
8,대천2동,36.353148,126.589735,충남 보령시 중앙로 142-16 (대천2동 주민센터 옥상)
9,독곶리,36.987579,126.391672,충남 서산시 대산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터 저수동 옥상
10,동문동,36.780158,126.455197,충청남도 서산시 중앙로 38-1 서산초등학교 (동문동)
11,모종동,36.782700,127.014610,충남 아산시 모종동 573-2 보건소옥상
12,신방동,36.782355,127.120506,충남 천안시 동남구 천안천변길 127 천안시 맑은물사업소 하수처리장 (신방동)
13,예산군,36.677398,126.848918,충남 예산군 예산읍 신흥길 63 (다목적 노인회관 옥상)
14,이원면,36.869719,126.280501,충남 태안군 이원면 분지길 14 (이원면사무소 1층 나동 옥상)
15,홍성읍,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
16,성성동,36.840313,127.141777,충남 천안시 서북구 성성동 1-70

In [60]:
aws_df = pd.merge(train_df, meta_aws, how='inner', on='Location')

In [61]:
pm_df = pd.merge(y_train, meta_pm, how='inner', on='Location')

In [62]:
aws_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1051920 entries, 0 to 1051919
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   연도           1051920 non-null  int64
 1   일시           1051920 non-null  object
 2   Location     1051920 non-null  object
 3   기온(°C)       1032972 non-null  float64
 4   풍향(deg)      1032972 non-null  float64
 5   풍속(m/s)      1032972 non-null  float64
 6   강수량(mm)      1032972 non-null  float64
 7   습도(%)        1032972 non-null  float64
 8   Latitude     1051920 non-null  float64
 9   Longitude    1051920 non-null  float64
 10  Description  1051920 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 96.3+ MB

In [63]:
 1051920-1032972

18948

In [64]:
pm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596088 entries, 0 to 596087
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   연도           596088 non-null  int64
 1   일시           596088 non-null  object
 2   Location     596088 non-null  object
 3   PM2.5        580546 non-null  float64
 4   Latitude     596088 non-null  float64
 5   Longitude    596088 non-null  float64
 6   Description  596088 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 36.4+ MB

In [65]:
596088-580546

15542

**pm_df기준으로 aws_df 합치기** : aws 측정소를 pm 측정소 중 가장 가까운 곳으로 바꾸기

In [66]:
aws_name=list(aws_df['Location'].unique())
aws_name

['계룡',
 '공주',
 '논산',
 '당진',
 '대산',
 '대천항',
 '북격렬비도',
 '서천',
 '성거',
 '세종고운',
 '세종금남',
 '세종연서',
 '세종전의',
 '세천',
 '아산',
 '안도',
 '양화',
 '예산',
 '오월드',
 '옹도',
 '유구',
 '장동',
 '정산',
 '정안',
 '청양',
 '춘장대',
 '태안',
 '호도',
 '홍북',
 '홍성죽도']

In [67]:
len(aws_name)

30

In [68]:
aws_df[aws_df['Location']==aws_name[1]]['Latitude'].values[0]

36.4828

In [69]:
aws_df[aws_df['Location']==aws_name[0]]['Longitude'].values[0]

127.2407

In [70]:
aws_df['Location']

0            계룡
1            계룡
2            계룡
3            계룡
4            계룡
           ...
1051915    홍성죽도
1051916    홍성죽도
1051917    홍성죽도
1051918    홍성죽도
1051919    홍성죽도
Name: Location, Length: 1051920, dtype: object

In [71]:
meta_pm.head()

,Location,Latitude,Longitude,Description
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동)
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상
3,문창동,36.317215,127.437825,대전 중구 보문로 20번길 38(문창동 주민센터) 문창동 주민센터
4,읍내동,36.372388,127.417714,대전 대덕구 대전로 1331번길 75(태아산업(주)) 태아산업(주)

In [72]:
meta_pm['Latitude'][0]

36.5122519

In [73]:
len(meta_pm['Latitude'])

17

In [74]:
# 위경도 값들 간의 거리 계산을 위한 함수 작성
from geopy.distance import geodesic 
def distance(lat1, lon1, lat2, lon2):
     return geodesic((lat1, lon1), (lat2, lon2)).km

In [75]:
def Distance(n):
    lat  = aws_df[aws_df['Location']==aws_name[n]]['Latitude'].values[0]
    lon =  aws_df[aws_df['Location']==aws_name[n]]['Longitude'].values[0]

    meta_pm['distance'] = meta_pm.apply(lambda x: distance(x['Latitude'], x['Longitude'], lat, lon), axis=1)
    sorted_data = meta_pm.sort_values('distance')

    
    return sorted_data

In [76]:
Distance(17)

,Location,Latitude,Longitude,Description,distance
13,예산군,36.677398,126.848918,충남 예산군 예산읍 신흥길 63 (다목적 노인회관 옥상),7.814519
11,모종동,36.782700,127.014610,충남 아산시 모종동 573-2 보건소옥상,18.435370
15,홍성읍,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상),21.440696
12,신방동,36.782355,127.120506,충남 천안시 동남구 천안천변길 127 천안시 맑은물사업소 하수처리장 (신방동),27.694225
16,성성동,36.840313,127.141777,충남 천안시 서북구 성성동 1-70,31.186347
10,동문동,36.780158,126.455197,충청남도 서산시 중앙로 38-1 서산초등학교 (동문동),32.349825
6,공주,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상),42.622243
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상,45.840492
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동),46.328245
9,독곶리,36.987579,126.391672,충남 서산시 대산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터 저수동 옥상,46.507833
8,대천2동,36.353148,126.589735,충남 보령시 중앙로 142-16 (대천2동 주민센터 옥상),47.619015
14,이원면,36.869719,126.280501,충남 태안군 이원면 분지길 14 (이원면사무소 1층 나동 옥상),49.704052
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상,61.301707
7,논산,36.199217,127.087021,충남 논산시 시민로 389 (취암/부창동 행정복지센터 2층 옥상),65.008842
4,읍내동,36.372388,127.417714,대전 대덕구 대전로 1331번길 75(태아산업(주)) 태아산업(주),67.826427
5,정림동,36.304442,127.366742,대전 서구 정림동로 10(정림동 주민센터) 정림동 주민센터,69.324910
3,문창동,36.317215,127.437825,대전 중구 보문로 20번길 38(문창동 주민센터) 문창동 주민센터,73.076648

In [77]:
aws_df.replace({'Location': '계룡'},'노은동', inplace=True) #0

In [78]:
aws_df.replace({'Location': '당진'},'동문동', inplace=True)# 3 18km ...

In [79]:
aws_df.replace({'Location': '대산'},'독곶리', inplace=True) #4

In [80]:
aws_df.replace({'Location': '대천항'},'대천2동', inplace=True) #5

In [81]:
# 북격렬비도 : 가장 가까운 곳이 69km라서 그냥 drop하기로. # 6
drops = aws_df[aws_df['Location'].str.contains('북격렬비도')].index
aws_df.drop(drops, inplace=True)

In [82]:
# 7 : 서천 : 대천2동과 33km -> drop
drops = aws_df[aws_df['Location'].str.contains('서천')].index
aws_df.drop(drops, inplace=True)

In [83]:
#8
aws_df.replace({'Location': '성거'},'성성동', inplace=True)

In [84]:
#9 : 2km
aws_df.replace({'Location': '세종고운'},'아름동', inplace=True)

In [85]:
#10 : 아름동까지 6km / 신흥동까지 8km
drops = aws_df[aws_df['Location'].str.contains('세종금남')].index
aws_df.drop(drops, inplace=True)

In [86]:
#11
aws_df.replace({'Location': '세종연서'},'신흥동', inplace=True)

In [87]:
#12
aws_df.replace({'Location': '세종전의'},'신방동', inplace=True)

In [88]:
#13
aws_df.replace({'Location': '세천'},'문창동', inplace=True)

In [89]:
#14 : 15km
aws_df.replace({'Location': '아산'},'모종동', inplace=True)

In [90]:
#15 안도 : 이원면까지 14km -> 섬이라서 drop
drops = aws_df[aws_df['Location'].str.contains('안도')].index
aws_df.drop(drops, inplace=True)

In [91]:
#16 양화 : 21km -> drop 해도 될듯
drops = aws_df[aws_df['Location'].str.contains('양화')].index
aws_df.drop(drops, inplace=True)

In [92]:
#17
aws_df.replace({'Location': '예산'},'예산군', inplace=True)

In [93]:
#18
aws_df.replace({'Location': '오월드'},'정림동', inplace=True)

In [94]:
#19 옹도 : 이원면까지 34km -> drop 
drops = aws_df[aws_df['Location'].str.contains('옹도')].index
aws_df.drop(drops, inplace=True)

In [95]:
#20 유구  : 예산군까지 16km -> drop
drops = aws_df[aws_df['Location'].str.contains('유구')].index
aws_df.drop(drops, inplace=True)

In [96]:
#21 
aws_df.replace({'Location': '장동'},'읍내동', inplace=True)

In [97]:
#22 정산 : 공주까지 16km - > drop
drops = aws_df[aws_df['Location'].str.contains('정산')].index
aws_df.drop(drops, inplace=True)

In [98]:
#23 정안  : 공주까지 11km -> drop
drops = aws_df[aws_df['Location'].str.contains('정안')].index
aws_df.drop(drops, inplace=True)

In [99]:
#24 청양 : 대천2동 까지 18km
drops = aws_df[aws_df['Location'].str.contains('청양')].index
aws_df.drop(drops, inplace=True)

In [100]:
# 25 춘장대 : 대천2동까지 20km -> drop

In [101]:
#26 태안 : 이원면까지 12km / 동문동까지 14km
aws_df.replace({'Location': '태안'},'이원면', inplace=True)

In [102]:
#27 호도 : 대천2동까지 29km -> drop
drops = aws_df[aws_df['Location'].str.contains('호도')].index
aws_df.drop(drops, inplace=True)

In [103]:
#28 홍북 : 
aws_df.replace({'Location': '홍북'},'홍성읍', inplace=True)

In [104]:
#29 홍성죽도 : 홍성읍까지 20km -> drop
drops = aws_df[aws_df['Location'].str.contains('홍성죽도')].index
aws_df.drop(drops, inplace=True)

In [105]:
aws_name

['계룡',
 '공주',
 '논산',
 '당진',
 '대산',
 '대천항',
 '북격렬비도',
 '서천',
 '성거',
 '세종고운',
 '세종금남',
 '세종연서',
 '세종전의',
 '세천',
 '아산',
 '안도',
 '양화',
 '예산',
 '오월드',
 '옹도',
 '유구',
 '장동',
 '정산',
 '정안',
 '청양',
 '춘장대',
 '태안',
 '호도',
 '홍북',
 '홍성죽도']

In [61]:
aws_df['Location'].value_counts()

노은동     35064
공주      35064
이원면     35064
춘장대     35064
읍내동     35064
정림동     35064
예산군     35064
모종동     35064
문창동     35064
신방동     35064
신흥동     35064
아름동     35064
성성동     35064
대천2동    35064
독곶리     35064
동문동     35064
논산      35064
홍성읍     35064
Name: Location, dtype: int64

In [62]:
pm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596088 entries, 0 to 596087
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   연도           596088 non-null  int64
 1   일시           596088 non-null  object
 2   Location     596088 non-null  object
 3   PM2.5        580546 non-null  float64
 4   Latitude     596088 non-null  float64
 5   Longitude    596088 non-null  float64
 6   Description  596088 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 36.4+ MB

In [106]:
df = pd.merge(aws_df, pm_df, how='right', on=['연도', '일시','Location'])
df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),Latitude_x,Longitude_x,Description_x,PM2.5,Latitude_y,Longitude_y,Description_y
0,0,01-01 00:00,공주,0.173776,0.201944,0.023018,0.0,0.828,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.056,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
1,0,01-01 01:00,공주,0.176935,0.168611,0.030691,0.0,0.831,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.060,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
2,0,01-01 02:00,공주,0.180095,0.087222,0.033248,0.0,0.784,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.068,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
3,0,01-01 03:00,공주,0.178515,0.087222,0.025575,0.0,0.745,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.060,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
4,0,01-01 04:00,공주,0.164297,0.113889,0.020460,0.0,0.750,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.068,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596083,3,12-31 19:00,홍성읍,0.273302,0.832222,0.086957,0.0,0.671,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.060,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
596084,3,12-31 20:00,홍성읍,0.271722,0.831667,0.043478,0.0,0.692,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.052,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
596085,3,12-31 21:00,홍성읍,0.268562,0.832500,0.066496,0.0,0.706,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.044,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
596086,3,12-31 22:00,홍성읍,0.262243,0.866944,0.043478,0.0,0.725,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.052,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
596087,3,12-31 23:00,홍성읍,0.257504,0.000000,0.000000,0.0,0.710,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.060,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 596088 entries, 0 to 596087
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   연도             596088 non-null  int64
 1   일시             596088 non-null  object
 2   Location       596088 non-null  object
 3   기온(°C)         586283 non-null  float64
 4   풍향(deg)        586283 non-null  float64
 5   풍속(m/s)        586283 non-null  float64
 6   강수량(mm)        586283 non-null  float64
 7   습도(%)          586283 non-null  float64
 8   Latitude_x     596088 non-null  float64
 9   Longitude_x    596088 non-null  float64
 10  Description_x  596088 non-null  object
 11  PM2.5          580546 non-null  float64
 12  Latitude_y     596088 non-null  float64
 13  Longitude_y    596088 non-null  float64
 14  Description_y  596088 non-null  object
dtypes: float64(10), int64(1), object(4)
memory usage: 72.8+ MB

In [65]:
df['Location'].value_counts()

공주      35064
신방동     35064
정림동     35064
이원면     35064
읍내동     35064
예산군     35064
아름동     35064
신흥동     35064
성성동     35064
노은동     35064
문창동     35064
모종동     35064
동문동     35064
독곶리     35064
대천2동    35064
논산      35064
홍성읍     35064
Name: Location, dtype: int64

In [66]:
df.isnull().sum()

연도                   0
일시                   0
Location             0
기온(°C)            9805
풍향(deg)           9805
풍속(m/s)           9805
강수량(mm)           9805
습도(%)             9805
Latitude_x           0
Longitude_x          0
Description_x        0
PM2.5            15542
Latitude_y           0
Longitude_y          0
Description_y        0
dtype: int64

In [107]:
df.drop(['Latitude_x', 'Longitude_x','Description_x','Latitude_y','Longitude_y','Description_y'],axis=1,inplace=True)

In [68]:
df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
0,0,01-01 00:00,공주,0.173776,0.201944,0.023018,0.0,0.828,0.056
1,0,01-01 01:00,공주,0.176935,0.168611,0.030691,0.0,0.831,0.060
2,0,01-01 02:00,공주,0.180095,0.087222,0.033248,0.0,0.784,0.068
3,0,01-01 03:00,공주,0.178515,0.087222,0.025575,0.0,0.745,0.060
4,0,01-01 04:00,공주,0.164297,0.113889,0.020460,0.0,0.750,0.068
...,...,...,...,...,...,...,...,...,...
596083,3,12-31 19:00,홍성읍,0.273302,0.832222,0.086957,0.0,0.671,0.060
596084,3,12-31 20:00,홍성읍,0.271722,0.831667,0.043478,0.0,0.692,0.052
596085,3,12-31 21:00,홍성읍,0.268562,0.832500,0.066496,0.0,0.706,0.044
596086,3,12-31 22:00,홍성읍,0.262243,0.866944,0.043478,0.0,0.725,0.052
596087,3,12-31 23:00,홍성읍,0.257504,0.000000,0.000000,0.0,0.710,0.060

In [73]:
df.columns

Index(['연도', '일시', 'Location', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)',
       '습도(%)', 'PM2.5'],
      dtype='object')

In [185]:
df

,,,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
,연도,일시,,,,,,,
0,0,01-01 00:00,공주,0.173776,0.201944,0.023018,0.0,0.828,0.056
1,0,01-01 01:00,공주,0.176935,0.168611,0.030691,0.0,0.831,0.060
2,0,01-01 02:00,공주,0.180095,0.087222,0.033248,0.0,0.784,0.068
3,0,01-01 03:00,공주,0.178515,0.087222,0.025575,0.0,0.745,0.060
4,0,01-01 04:00,공주,0.164297,0.113889,0.020460,0.0,0.750,0.068
...,...,...,...,...,...,...,...,...,...
596083,3,12-31 19:00,홍성읍,0.273302,0.832222,0.086957,0.0,0.671,0.060
596084,3,12-31 20:00,홍성읍,0.271722,0.831667,0.043478,0.0,0.692,0.052
596085,3,12-31 21:00,홍성읍,0.268562,0.832500,0.066496,0.0,0.706,0.044
596086,3,12-31 22:00,홍성읍,0.262243,0.866944,0.043478,0.0,0.725,0.052
596087,3,12-31 23:00,홍성읍,0.257504,0.000000,0.000000,0.0,0.710,0.060

In [108]:
num_data = df[['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)',
       '습도(%)', 'PM2.5']]

In [109]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer_mice = IterativeImputer(random_state=83)
num_data = imputer_mice.fit_transform(num_data)

In [110]:
num_data

array([[0.17377567, 0.20194444, 0.0230179 , 0.        , 0.828     ,
        0.056     ],
       [0.17693523, 0.16861111, 0.03069054, 0.        , 0.831     ,
        0.06      ],
       [0.18009479, 0.08722222, 0.03324808, 0.        , 0.784     ,
        0.068     ],
       ...,
       [0.2685624 , 0.8325    , 0.06649616, 0.        , 0.706     ,
        0.044     ],
       [0.26224329, 0.86694444, 0.04347826, 0.        , 0.725     ,
        0.052     ],
       [0.25750395, 0.        , 0.        , 0.        , 0.71      ,
        0.06      ]])

In [111]:
column_names = ['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)',
       '습도(%)', 'PM2.5']

In [112]:
new = pd.DataFrame(num_data, columns=column_names)

In [113]:
new.isnull().sum()

기온(°C)     0
풍향(deg)    0
풍속(m/s)    0
강수량(mm)    0
습도(%)      0
PM2.5      0
dtype: int64

In [114]:
new_df = df.drop(['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)','습도(%)', 'PM2.5'],axis=1)

In [115]:
new_df

        연도           일시 Location
0        0  01-01 00:00       공주
1        0  01-01 01:00       공주
2        0  01-01 02:00       공주
3        0  01-01 03:00       공주
4        0  01-01 04:00       공주
...     ..          ...      ...
596083   3  12-31 19:00      홍성읍
596084   3  12-31 20:00      홍성읍
596085   3  12-31 21:00      홍성읍
596086   3  12-31 22:00      홍성읍
596087   3  12-31 23:00      홍성읍

[596088 rows x 3 columns]

In [116]:
train_df = pd.concat([new_df,new],axis=1)
train_df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
0,0,01-01 00:00,공주,0.173776,0.201944,0.023018,0.0,0.828,0.056
1,0,01-01 01:00,공주,0.176935,0.168611,0.030691,0.0,0.831,0.060
2,0,01-01 02:00,공주,0.180095,0.087222,0.033248,0.0,0.784,0.068
3,0,01-01 03:00,공주,0.178515,0.087222,0.025575,0.0,0.745,0.060
4,0,01-01 04:00,공주,0.164297,0.113889,0.020460,0.0,0.750,0.068
...,...,...,...,...,...,...,...,...,...
596083,3,12-31 19:00,홍성읍,0.273302,0.832222,0.086957,0.0,0.671,0.060
596084,3,12-31 20:00,홍성읍,0.271722,0.831667,0.043478,0.0,0.692,0.052
596085,3,12-31 21:00,홍성읍,0.268562,0.832500,0.066496,0.0,0.706,0.044
596086,3,12-31 22:00,홍성읍,0.262243,0.866944,0.043478,0.0,0.725,0.052
596087,3,12-31 23:00,홍성읍,0.257504,0.000000,0.000000,0.0,0.710,0.060

In [117]:
train_df.isnull().sum()

연도          0
일시          0
Location    0
기온(°C)      0
풍향(deg)     0
풍속(m/s)     0
강수량(mm)     0
습도(%)       0
PM2.5       0
dtype: int64

In [118]:
train_df.set_index(['연도','일시'], append=True, inplace=True)

In [252]:
train_df[168:168+72]

,,,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
,연도,일시,,,,,,,
168,0,01-08 00:00,공주,0.322275,0.000000,0.007673,0.0,0.931,0.200
169,0,01-08 01:00,공주,0.322275,0.000000,0.007673,0.0,0.956,0.208
170,0,01-08 02:00,공주,0.309637,0.000000,0.002558,0.0,0.961,0.200
171,0,01-08 03:00,공주,0.308057,0.000000,0.000000,0.0,0.964,0.192
172,0,01-08 04:00,공주,0.300158,0.000000,0.005115,0.0,0.959,0.176
...,...,...,...,...,...,...,...,...,...
235,0,01-10 19:00,공주,0.383886,0.138889,0.020460,0.0,0.598,0.192
236,0,01-10 20:00,공주,0.377567,0.000000,0.005115,0.0,0.615,0.196
237,0,01-10 21:00,공주,0.375987,0.000000,0.010230,0.0,0.667,0.200
238,0,01-10 22:00,공주,0.369668,0.000000,0.010230,0.0,0.673,0.240
239,0,01-10 23:00,공주,0.368088,0.000000,0.007673,0.0,0.699,0.236

In [121]:
train_df.corrwith(train_df['PM2.5']).sort_values(ascending=False)

PM2.5      1.000000
습도(%)      0.035273
풍향(deg)   -0.044692
강수량(mm)   -0.081796
풍속(m/s)   -0.155812
기온(°C)    -0.251328
dtype: float64

In [122]:
# 특성데이터 분리
X_train = train_df.drop('PM2.5', axis=1)
y_train = train_df['PM2.5']

In [ ]:
# # 날짜와 시간 분리
# X_train['time'] = [ int( i.split(' ')[1].split(':')[0] ) for i in X_train['일시']] 
# X_train['일시'] = [ i.split(' ')[0] for i in X_train['일시'] ]

In [188]:
X_train

                      Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
       연도 일시
0      0  01-01 00:00       공주  0.173776  0.201944  0.023018      0.0  0.828
1      0  01-01 01:00       공주  0.176935  0.168611  0.030691      0.0  0.831
2      0  01-01 02:00       공주  0.180095  0.087222  0.033248      0.0  0.784
3      0  01-01 03:00       공주  0.178515  0.087222  0.025575      0.0  0.745
4      0  01-01 04:00       공주  0.164297  0.113889  0.020460      0.0  0.750
...                        ...       ...       ...       ...      ...    ...
596083 3  12-31 19:00      홍성읍  0.273302  0.832222  0.086957      0.0  0.671
596084 3  12-31 20:00      홍성읍  0.271722  0.831667  0.043478      0.0  0.692
596085 3  12-31 21:00      홍성읍  0.268562  0.832500  0.066496      0.0  0.706
596086 3  12-31 22:00      홍성읍  0.262243  0.866944  0.043478      0.0  0.725
596087 3  12-31 23:00      홍성읍  0.257504  0.000000  0.000000      0.0  0.710

[596088 rows x 6 columns]

In [126]:
# X_train = X_train[['연도', '일시','time', 'Location', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)',
#        '습도(%)']]

In [127]:
X_train

        연도     일시  time Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
0        0  01-01     0       공주  0.173776  0.201944  0.023018      0.0  0.828
1        0  01-01     1       공주  0.176935  0.168611  0.030691      0.0  0.831
2        0  01-01     2       공주  0.180095  0.087222  0.033248      0.0  0.784
3        0  01-01     3       공주  0.178515  0.087222  0.025575      0.0  0.745
4        0  01-01     4       공주  0.164297  0.113889  0.020460      0.0  0.750
...     ..    ...   ...      ...       ...       ...       ...      ...    ...
596083   3  12-31    19      홍성읍  0.273302  0.832222  0.086957      0.0  0.671
596084   3  12-31    20      홍성읍  0.271722  0.831667  0.043478      0.0  0.692
596085   3  12-31    21      홍성읍  0.268562  0.832500  0.066496      0.0  0.706
596086   3  12-31    22      홍성읍  0.262243  0.866944  0.043478      0.0  0.725
596087   3  12-31    23      홍성읍  0.257504  0.000000  0.000000      0.0  0.710

[596088 rows x 9 columns]

In [123]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

In [124]:
train_num = X_train[['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '습도(%)']]

In [125]:
X_train.columns

Index(['Location', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '습도(%)'], dtype='object')

In [126]:
train_cat = X_train[['Location']]
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoder.fit_transform(train_cat)

C:\Users\qkreh\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [127]:
onehot_encoder.categories_

[array(['공주', '노은동', '논산', '대천2동', '독곶리', '동문동', '모종동', '문창동', '성성동',
        '신방동', '신흥동', '아름동', '예산군', '읍내동', '이원면', '정림동', '홍성읍'],
       dtype=object)]

In [128]:
onehot_encoder

OneHotEncoder(sparse=False, sparse_output=False)

In [129]:
std_scaler = StandardScaler()
train_num_std = std_scaler.fit_transform(train_num)
train_num_std.mean(1), train_num_std.std(1)

(array([-0.61656117, -0.58636246, -0.66226941, ..., -0.00878745,
        -0.10640271, -0.87878522]),
 array([1.01081008, 1.01823436, 0.97488747, ..., 1.05930648, 1.04251181,
        0.73165489]))

In [130]:
# (2) 정규화 -> 다른 단위를 따르는 변수들을 동일한 특정 구간으로 조정
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
train_num_mm = min_max_scaler.fit_transform(train_num)
train_num_mm.min(1), train_num_mm.max(1)

(array([0.00921206, 0.00921206, 0.00921206, ..., 0.00921206, 0.00921206,
        0.        ]),
 array([0.83805668, 0.84109312, 0.79352227, ..., 0.8325    , 0.86694444,
        0.71862348]))

In [131]:
# (3) 로그 스케일링 
from sklearn.preprocessing import FunctionTransformer
log_transformer = FunctionTransformer(np.log)
log_trans= log_transformer.fit_transform(X_train[['풍속(m/s)', '강수량(mm)','습도(%)']])
log_trans.shape

C:\Users\qkreh\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:402: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\qkreh\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:402: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

(596088, 3)

In [132]:
# 로그 파이프라인
log_attribs = X_train[['풍속(m/s)', '강수량(mm)','습도(%)']]

log_pipeline = Pipeline([
                        ("log_transfomer", FunctionTransformer(np.log1p)),  # 로그 변환
                        ("minmax_scaler",  MinMaxScaler()),
                        ("std_scaler", StandardScaler()) 
                              ])

In [133]:
# 표준화, 정규화 파이프라인
std_attribs = X_train[['기온(°C)', '풍향(deg)']]

std_mm_pipeline = Pipeline([
                        ("minmax_scaler",  MinMaxScaler()),
                        ("std_scaler", StandardScaler()) 
                              ])

In [134]:
std_attribs = ['기온(°C)', '풍향(deg)']
minmax_attribs = ['기온(°C)', '풍향(deg)']
log_attribs = ['풍속(m/s)', '강수량(mm)','습도(%)']
cat_attribs = ['Location']
full_pipeline = ColumnTransformer(
     transformers=[
                ('std_mm_pipeline', std_mm_pipeline, std_attribs),
                ('log_pipeline', log_pipeline, log_attribs),  
                ('oh_encoder', OneHotEncoder(sparse_output=False), cat_attribs), 
                #('pass', 'passthrough', ['연도', '일시','time'])
                                  ])
full_pipeline = full_pipeline.set_output(transform='pandas')

C:\Users\qkreh\anaconda3\lib\site-packages\sklearn\preprocessing\_function_transformer.py:343: UserWarning: With transform="pandas", `func` should return a DataFrame to follow the set_output API.
  warnings.warn(

In [135]:
from sklearn import set_config
set_config(display='diagram')

In [136]:
full_pipeline

ColumnTransformer(transformers=[('std_mm_pipeline',
                                 Pipeline(steps=[('minmax_scaler',
                                                  MinMaxScaler()),
                                                 ('std_scaler',
                                                  StandardScaler())]),
                                 ['기온(°C)', '풍향(deg)']),
                                ('log_pipeline',
                                 Pipeline(steps=[('log_transfomer',
                                                  FunctionTransformer(func=<ufunc 'log1p'>)),
                                                 ('minmax_scaler',
                                                  MinMaxScaler()),
                                                 ('std_scaler',
                                                  StandardScaler())]),
                                 ['풍속(m/s)', '강수량(mm)', '습도(%)']),
                                ('oh_encoder',
                                 OneHotEncoder(sparse_output=False),
                                 ['Location'])])

In [137]:
X_prepared = full_pipeline.fit_transform(X_train)

In [138]:
X_train.shape, X_prepared.shape

((596088, 6), (596088, 22))

In [139]:
6+16

22

In [140]:
X_train

                      Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
       연도 일시
0      0  01-01 00:00       공주  0.173776  0.201944  0.023018      0.0  0.828
1      0  01-01 01:00       공주  0.176935  0.168611  0.030691      0.0  0.831
2      0  01-01 02:00       공주  0.180095  0.087222  0.033248      0.0  0.784
3      0  01-01 03:00       공주  0.178515  0.087222  0.025575      0.0  0.745
4      0  01-01 04:00       공주  0.164297  0.113889  0.020460      0.0  0.750
...                        ...       ...       ...       ...      ...    ...
596083 3  12-31 19:00      홍성읍  0.273302  0.832222  0.086957      0.0  0.671
596084 3  12-31 20:00      홍성읍  0.271722  0.831667  0.043478      0.0  0.692
596085 3  12-31 21:00      홍성읍  0.268562  0.832500  0.066496      0.0  0.706
596086 3  12-31 22:00      홍성읍  0.262243  0.866944  0.043478      0.0  0.725
596087 3  12-31 23:00      홍성읍  0.257504  0.000000  0.000000      0.0  0.710

[596088 rows x 6 columns]

In [141]:
X_prepared

,,,std_mm_pipeline__기온(°C),std_mm_pipeline__풍향(deg),log_pipeline__풍속(m/s),log_pipeline__강수량(mm),log_pipeline__습도(%),oh_encoder__Location_공주,oh_encoder__Location_노은동,oh_encoder__Location_논산,oh_encoder__Location_대천2동,oh_encoder__Location_독곶리,...,oh_encoder__Location_문창동,oh_encoder__Location_성성동,oh_encoder__Location_신방동,oh_encoder__Location_신흥동,oh_encoder__Location_아름동,oh_encoder__Location_예산군,oh_encoder__Location_읍내동,oh_encoder__Location_이원면,oh_encoder__Location_정림동,oh_encoder__Location_홍성읍
,연도,일시,,,,,,,,,,,,,,,,,,,,,
0,0,01-01 00:00,-2.454217,-0.616777,-0.480344,-0.136006,0.612075,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,01-01 01:00,-2.435085,-0.714515,-0.257494,-0.136006,0.625251,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,01-01 02:00,-2.415953,-0.953159,-0.183579,-0.136006,0.416292,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,01-01 03:00,-2.425519,-0.953159,-0.405876,-0.136006,0.238678,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,01-01 04:00,-2.511612,-0.874969,-0.554999,-0.136006,0.261670,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596083,3,12-31 19:00,-1.851570,1.231287,1.327764,-0.136006,-0.109522,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
596084,3,12-31 20:00,-1.861136,1.229658,0.110262,-0.136006,-0.009165,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
596085,3,12-31 21:00,-1.880267,1.232102,0.761008,-0.136006,0.057049,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
596086,3,12-31 22:00,-1.918530,1.333098,0.110262,-0.136006,0.146048,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
596087,3,12-31 23:00,-1.947228,-1.208907,-1.159063,-0.136006,0.075868,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [142]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [143]:
# xgboost 
import xgboost as xgb

params = {'n_estimators': 162,
 'learning_rate': 0.43073919047369064,
 'max_depth': 12,
 'lambda': 0.0004213891289004788,
 'alpha': 0.0334392163737248,
 'colsample_bytree': 0.7122036457337199,
 'min_child_weight': 0,
 'eval_metric': 'mae'}


# 모델 선언
my_model = xgb.XGBRegressor(**params)

# 모델 훈련
my_model.fit(X_prepared, y_train, verbose=3)

# 모델 예측
#y_pred = my_model.predict(test_df)

XGBRegressor(alpha=0.0334392163737248, base_score=None, booster=None,
             callbacks=None, colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.7122036457337199, early_stopping_rounds=None,
             enable_categorical=False, eval_metric='mae', feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, lambda=0.0004213891289004788,
             learning_rate=0.43073919047369064, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=12, max_leaves=None,
             min_child_weight=0, missing=nan, monotone_constraints=None,
             n_estimators=162, n_jobs=None, num_parallel_tree=None, ...)

In [144]:
test_pm_path = 'dataset/TEST_INPUT/'
test_aws_path = 'dataset/TEST_AWS/'

In [145]:
pm= glob.glob(test_pm_path + '*.csv')
aws = glob.glob(test_aws_path + '*.csv')

In [146]:
test_pm = pd.DataFrame()
for i in pm:
    data = pd.read_csv(i)
    test_pm = pd.concat([test_pm,data])

In [147]:
test_pm.rename(columns={'측정소':'Location'}, inplace=True)
test_pm

      연도           일시 Location  PM2.5
0      4  01-01 00:00       공주  0.060
1      4  01-01 01:00       공주  0.064
2      4  01-01 02:00       공주  0.072
3      4  01-01 03:00       공주  0.064
4      4  01-01 04:00       공주  0.056
...   ..          ...      ...    ...
7723   4  11-18 19:00      홍성읍  0.056
7724   4  11-18 20:00      홍성읍  0.036
7725   4  11-18 21:00      홍성읍  0.020
7726   4  11-18 22:00      홍성읍  0.024
7727   4  11-18 23:00      홍성읍  0.024

[131376 rows x 4 columns]

In [148]:
test_aws = pd.DataFrame()
for i in aws:
    data = pd.read_csv(i)
    test_aws = pd.concat([test_aws,data])

In [149]:
test_aws.rename(columns={'지점':'Location'}, inplace=True)
test_aws

      연도           일시 Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)
0      4  01-01 00:00       계룡  0.244866  0.281667  0.020460      0.0  0.622
1      4  01-01 01:00       계룡  0.224329  0.365833  0.015345      0.0  0.691
2      4  01-01 02:00       계룡  0.195893  0.000000  0.010230      0.0  0.772
3      4  01-01 03:00       계룡  0.173776  0.223333  0.015345      0.0  0.808
4      4  01-01 04:00       계룡  0.164297  0.000000  0.005115      0.0  0.812
...   ..          ...      ...       ...       ...       ...      ...    ...
7723   4  11-18 19:00     홍성죽도  0.426540  0.924444  0.209719      0.0  0.593
7724   4  11-18 20:00     홍성죽도  0.423381  0.974444  0.258312      0.0  0.665
7725   4  11-18 21:00     홍성죽도  0.423381  0.926111  0.207161      0.0  0.696
7726   4  11-18 22:00     홍성죽도  0.407583  0.986667  0.306905      0.0  0.661
7727   4  11-18 23:00     홍성죽도  0.398104  0.981111  0.345269      0.0  0.728

[231840 rows x 8 columns]

In [150]:
meta_aws = pd.read_csv(meta_path + 'awsmap.csv')
meta_pm = pd.read_csv(meta_path + 'pmmap.csv')

In [151]:
aws_df = pd.merge(test_aws, meta_aws, how='inner', on='Location')

In [152]:
pm_df = pd.merge(test_pm, meta_pm, how='inner', on='Location')

In [153]:
pm_df

,연도,일시,Location,PM2.5,Latitude,Longitude,Description
0,4,01-01 00:00,공주,0.060,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
1,4,01-01 01:00,공주,0.064,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
2,4,01-01 02:00,공주,0.072,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
3,4,01-01 03:00,공주,0.064,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
4,4,01-01 04:00,공주,0.056,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
...,...,...,...,...,...,...,...
131371,4,11-18 19:00,홍성읍,0.056,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131372,4,11-18 20:00,홍성읍,0.036,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131373,4,11-18 21:00,홍성읍,0.020,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131374,4,11-18 22:00,홍성읍,0.024,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131375,4,11-18 23:00,홍성읍,0.024,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)

In [154]:
aws_name=list(aws_df['Location'].unique())
aws_name

['계룡',
 '공주',
 '논산',
 '당진',
 '대산',
 '대천항',
 '북격렬비도',
 '서천',
 '성거',
 '세종고운',
 '세종금남',
 '세종연서',
 '세종전의',
 '세천',
 '아산',
 '안도',
 '양화',
 '예산',
 '오월드',
 '옹도',
 '유구',
 '장동',
 '정산',
 '정안',
 '청양',
 '춘장대',
 '태안',
 '호도',
 '홍북',
 '홍성죽도']

In [155]:
def Distance(n):
    lat  = aws_df[aws_df['Location']==aws_name[n]]['Latitude'].values[0]
    lon =  aws_df[aws_df['Location']==aws_name[n]]['Longitude'].values[0]

    meta_pm['distance'] = meta_pm.apply(lambda x: distance(x['Latitude'], x['Longitude'], lat, lon), axis=1)
    sorted_data = meta_pm.sort_values('distance')

    
    return sorted_data

In [156]:
aws_df.replace({'Location': '계룡'},'노은동', inplace=True) #0

aws_df.replace({'Location': '당진'},'동문동', inplace=True)# 3 18km ... 

aws_df.replace({'Location': '대산'},'독곶리', inplace=True) #4

aws_df.replace({'Location': '대천항'},'대천2동', inplace=True) #5

# 북격렬비도 : 가장 가까운 곳이 69km라서 그냥 drop하기로. # 6
drops = aws_df[aws_df['Location'].str.contains('북격렬비도')].index
aws_df.drop(drops, inplace=True)


# 7 : 서천 : 대천2동과 33km -> drop
drops = aws_df[aws_df['Location'].str.contains('서천')].index
aws_df.drop(drops, inplace=True)

#8
aws_df.replace({'Location': '성거'},'성성동', inplace=True)

#9 : 2km
aws_df.replace({'Location': '세종고운'},'아름동', inplace=True)

#10 : 아름동까지 6km / 신흥동까지 8km
drops = aws_df[aws_df['Location'].str.contains('세종금남')].index
aws_df.drop(drops, inplace=True)

#11
aws_df.replace({'Location': '세종연서'},'신흥동', inplace=True)

#12
aws_df.replace({'Location': '세종전의'},'신방동', inplace=True)

#13
aws_df.replace({'Location': '세천'},'문창동', inplace=True)

#14 : 15km
aws_df.replace({'Location': '아산'},'모종동', inplace=True) 

#15 안도 : 이원면까지 14km -> 섬이라서 drop
drops = aws_df[aws_df['Location'].str.contains('안도')].index
aws_df.drop(drops, inplace=True)

#16 양화 : 21km -> drop 해도 될듯
drops = aws_df[aws_df['Location'].str.contains('양화')].index
aws_df.drop(drops, inplace=True)

#17
aws_df.replace({'Location': '예산'},'예산군', inplace=True)

#18
aws_df.replace({'Location': '오월드'},'정림동', inplace=True)

#19 옹도 : 이원면까지 34km -> drop 
drops = aws_df[aws_df['Location'].str.contains('옹도')].index
aws_df.drop(drops, inplace=True)

#20 유구  : 예산군까지 16km -> drop
drops = aws_df[aws_df['Location'].str.contains('유구')].index
aws_df.drop(drops, inplace=True)

#21 
aws_df.replace({'Location': '장동'},'읍내동', inplace=True)

#22 정산 : 공주까지 16km - > drop
drops = aws_df[aws_df['Location'].str.contains('정산')].index
aws_df.drop(drops, inplace=True)

#23 정안  : 공주까지 11km -> drop
drops = aws_df[aws_df['Location'].str.contains('정안')].index
aws_df.drop(drops, inplace=True)

#24 청양 : 대천2동 까지 18km
drops = aws_df[aws_df['Location'].str.contains('청양')].index
aws_df.drop(drops, inplace=True)

# 25 춘장대 : 대천2동까지 20km -> drop

#26 태안 : 이원면까지 12km / 동문동까지 14km
aws_df.replace({'Location': '태안'},'이원면', inplace=True)

#27 호도 : 대천2동까지 29km -> drop
drops = aws_df[aws_df['Location'].str.contains('호도')].index
aws_df.drop(drops, inplace=True)

#28 홍북 : 
aws_df.replace({'Location': '홍북'},'홍성읍', inplace=True)


#29 홍성죽도 : 홍성읍까지 20km -> drop
drops = aws_df[aws_df['Location'].str.contains('홍성죽도')].index
aws_df.drop(drops, inplace=True)

In [157]:
aws_df['Location'].value_counts()

노은동     3120
공주      3120
이원면     3120
춘장대     3120
읍내동     3120
정림동     3120
예산군     3120
모종동     3120
문창동     3120
신방동     3120
신흥동     3120
아름동     3120
성성동     3120
대천2동    3120
독곶리     3120
동문동     3120
논산      3120
홍성읍     3120
Name: Location, dtype: int64

In [295]:
df = pd.merge(aws_df, pm_df, how='right', on=['연도', '일시','Location'])
df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),Latitude_x,Longitude_x,Description_x,PM2.5,Latitude_y,Longitude_y,Description_y
0,4,01-01 00:00,공주,0.244866,0.123333,0.038363,0.0,0.647,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.060,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
1,4,01-01 01:00,공주,0.232227,0.167778,0.033248,0.0,0.648,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.064,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
2,4,01-01 02:00,공주,0.206951,0.000000,0.002558,0.0,0.734,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.072,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
3,4,01-01 03:00,공주,0.199052,0.000000,0.002558,0.0,0.753,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.064,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
4,4,01-01 04:00,공주,0.189573,0.000000,0.002558,0.0,0.795,36.4828,127.1365,충청남도 공주시금흥동 산 21번지(공주예비군 훈련장),0.056,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131371,4,11-18 19:00,홍성읍,0.404423,0.833611,0.089514,0.0,0.554,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.056,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131372,4,11-18 20:00,홍성읍,0.396524,0.830556,0.074169,0.0,0.552,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.036,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131373,4,11-18 21:00,홍성읍,0.393365,0.837500,0.084399,0.0,0.579,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.020,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131374,4,11-18 22:00,홍성읍,0.387046,0.806944,0.094629,0.0,0.593,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.024,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
131375,4,11-18 23:00,홍성읍,0.366509,0.848889,0.066496,0.0,0.622,36.6277,126.6451,충청남도 홍성군홍북면 상하리산91(1789부대 4대대),0.024,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)

In [159]:
df['Location'].value_counts()

공주      7728
신방동     7728
정림동     7728
이원면     7728
읍내동     7728
예산군     7728
아름동     7728
신흥동     7728
성성동     7728
노은동     7728
문창동     7728
모종동     7728
동문동     7728
독곶리     7728
대천2동    7728
논산      7728
홍성읍     7728
Name: Location, dtype: int64

In [160]:
df.isnull().sum()

연도                   0
일시                   0
Location             0
기온(°C)           78336
풍향(deg)          78336
풍속(m/s)          78336
강수량(mm)          78336
습도(%)            78336
Latitude_x       78336
Longitude_x      78336
Description_x    78336
PM2.5            78336
Latitude_y           0
Longitude_y          0
Description_y        0
dtype: int64

In [296]:
df.drop(['Latitude_x', 'Longitude_x','Description_x','Latitude_y','Longitude_y','Description_y'],axis=1,inplace=True)

In [297]:
df[48:120]

     연도           일시 Location  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)  PM2.5
48    4  01-03 00:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
49    4  01-03 01:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
50    4  01-03 02:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
51    4  01-03 03:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
52    4  01-03 04:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
..   ..          ...      ...     ...      ...      ...      ...    ...    ...
115   4  01-05 19:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
116   4  01-05 20:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
117   4  01-05 21:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
118   4  01-05 22:00       공주     NaN      NaN      NaN      NaN    NaN    NaN
119   4  01-05 23:00       공주     NaN      NaN      NaN      NaN    NaN    NaN

[72 rows x 9 columns]

In [163]:
df.columns

Index(['연도', '일시', 'Location', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)',
       '습도(%)', 'PM2.5'],
      dtype='object')

In [164]:
num_data = df[['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '습도(%)','PM2.5']]

In [276]:
df[48:120]

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
48,4,01-03 00:00,공주,0.230972,0.156807,0.017868,0.0,0.707740,0.059781
49,4,01-03 01:00,공주,0.231297,0.167782,0.017833,0.0,0.708479,0.059562
50,4,01-03 02:00,공주,0.231622,0.178756,0.017798,0.0,0.709219,0.059342
51,4,01-03 03:00,공주,0.231946,0.189730,0.017763,0.0,0.709959,0.059123
52,4,01-03 04:00,공주,0.232271,0.200704,0.017728,0.0,0.710699,0.058904
...,...,...,...,...,...,...,...,...,...
115,4,01-05 19:00,공주,0.252721,0.892074,0.015520,0.0,0.757301,0.045096
116,4,01-05 20:00,공주,0.253046,0.903048,0.015485,0.0,0.758041,0.044877
117,4,01-05 21:00,공주,0.253371,0.914022,0.015450,0.0,0.758781,0.044658
118,4,01-05 22:00,공주,0.253695,0.924996,0.015415,0.0,0.759521,0.044438
119,4,01-05 23:00,공주,0.254020,0.935970,0.015380,0.0,0.760260,0.044219

In [274]:
df.interpolate(method = 'linear', inplace = True)

In [275]:
df[120+48+72+48:120+48+72+48+72]

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
288,4,01-13 00:00,공주,0.315761,0.168748,0.017833,0.0,0.834164,0.278192
289,4,01-13 01:00,공주,0.315566,0.169996,0.017763,0.0,0.834329,0.276384
290,4,01-13 02:00,공주,0.315371,0.171244,0.017693,0.0,0.834493,0.274575
291,4,01-13 03:00,공주,0.315177,0.172492,0.017623,0.0,0.834658,0.272767
292,4,01-13 04:00,공주,0.314982,0.173740,0.017552,0.0,0.834822,0.270959
...,...,...,...,...,...,...,...,...,...
355,4,01-15 19:00,공주,0.302712,0.252371,0.013138,0.0,0.845178,0.157041
356,4,01-15 20:00,공주,0.302517,0.253619,0.013068,0.0,0.845342,0.155233
357,4,01-15 21:00,공주,0.302322,0.254867,0.012998,0.0,0.845507,0.153425
358,4,01-15 22:00,공주,0.302127,0.256115,0.012928,0.0,0.845671,0.151616
359,4,01-15 23:00,공주,0.301933,0.257363,0.012858,0.0,0.845836,0.149808

In [277]:
df.isnull().sum()

연도          0
일시          0
Location    0
기온(°C)      0
풍향(deg)     0
풍속(m/s)     0
강수량(mm)     0
습도(%)       0
PM2.5       0
dtype: int64

In [253]:
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer

# imputer_mice = IterativeImputer(random_state=83)
# num_data = imputer_mice.fit_transform(num_data)

In [254]:
#column_names = ['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '습도(%)','PM2.5']

In [255]:
#new = pd.DataFrame(num_data, columns=column_names)

In [256]:
#new_df = df.drop(['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)','습도(%)', 'PM2.5'],axis=1)

KeyError: "['PM2.5'] not found in axis"

In [259]:
new_df

        연도           일시 Location
0        4  01-01 00:00       공주
1        4  01-01 01:00       공주
2        4  01-01 02:00       공주
3        4  01-01 03:00       공주
4        4  01-01 04:00       공주
...     ..          ...      ...
131371   4  11-18 19:00      홍성읍
131372   4  11-18 20:00      홍성읍
131373   4  11-18 21:00      홍성읍
131374   4  11-18 22:00      홍성읍
131375   4  11-18 23:00      홍성읍

[131376 rows x 3 columns]

In [260]:
# test_df = pd.concat([new_df,new],axis=1)
# test_df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
0,4,01-01 00:00,공주,0.244866,0.123333,0.038363,0.0,0.647,0.060
1,4,01-01 01:00,공주,0.232227,0.167778,0.033248,0.0,0.648,0.064
2,4,01-01 02:00,공주,0.206951,0.000000,0.002558,0.0,0.734,0.072
3,4,01-01 03:00,공주,0.199052,0.000000,0.002558,0.0,0.753,0.064
4,4,01-01 04:00,공주,0.189573,0.000000,0.002558,0.0,0.795,0.056
...,...,...,...,...,...,...,...,...,...
131371,4,11-18 19:00,홍성읍,0.404423,0.833611,0.089514,0.0,0.554,0.056
131372,4,11-18 20:00,홍성읍,0.396524,0.830556,0.074169,0.0,0.552,0.036
131373,4,11-18 21:00,홍성읍,0.393365,0.837500,0.084399,0.0,0.579,0.020
131374,4,11-18 22:00,홍성읍,0.387046,0.806944,0.094629,0.0,0.593,0.024
131375,4,11-18 23:00,홍성읍,0.366509,0.848889,0.066496,0.0,0.622,0.024

In [261]:
test_df[48:120]

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
48,4,01-03 00:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
49,4,01-03 01:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
50,4,01-03 02:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
51,4,01-03 03:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
52,4,01-03 04:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
...,...,...,...,...,...,...,...,...,...
115,4,01-05 19:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
116,4,01-05 20:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
117,4,01-05 21:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
118,4,01-05 22:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987
119,4,01-05 23:00,공주,0.60461,0.434809,0.045685,0.002302,0.702045,0.06987

In [171]:
test_df.isnull().sum()

연도          0
일시          0
Location    0
기온(°C)      0
풍향(deg)     0
풍속(m/s)     0
강수량(mm)     0
습도(%)       0
PM2.5       0
dtype: int64

In [279]:
## 여기부터 다시
df.set_index(['연도','일시'], append=True, inplace=True)

In [280]:
# 특성데이터 분리
X_test = df.drop('PM2.5', axis=1)
y_test = df['PM2.5']

In [282]:
X_test[48:120]

                   Location    기온(°C)   풍향(deg)   풍속(m/s)  강수량(mm)     습도(%)
    연도 일시
48  4  01-03 00:00       공주  0.230972  0.156807  0.017868      0.0  0.707740
49  4  01-03 01:00       공주  0.231297  0.167782  0.017833      0.0  0.708479
50  4  01-03 02:00       공주  0.231622  0.178756  0.017798      0.0  0.709219
51  4  01-03 03:00       공주  0.231946  0.189730  0.017763      0.0  0.709959
52  4  01-03 04:00       공주  0.232271  0.200704  0.017728      0.0  0.710699
...                     ...       ...       ...       ...      ...       ...
115 4  01-05 19:00       공주  0.252721  0.892074  0.015520      0.0  0.757301
116 4  01-05 20:00       공주  0.253046  0.903048  0.015485      0.0  0.758041
117 4  01-05 21:00       공주  0.253371  0.914022  0.015450      0.0  0.758781
118 4  01-05 22:00       공주  0.253695  0.924996  0.015415      0.0  0.759521
119 4  01-05 23:00       공주  0.254020  0.935970  0.015380      0.0  0.760260

[72 rows x 6 columns]

In [283]:
test_prepared = full_pipeline.fit_transform(X_test)

In [284]:
test_prepared

,,,std_mm_pipeline__기온(°C),std_mm_pipeline__풍향(deg),log_pipeline__풍속(m/s),log_pipeline__강수량(mm),log_pipeline__습도(%),oh_encoder__Location_공주,oh_encoder__Location_노은동,oh_encoder__Location_논산,oh_encoder__Location_대천2동,oh_encoder__Location_독곶리,...,oh_encoder__Location_문창동,oh_encoder__Location_성성동,oh_encoder__Location_신방동,oh_encoder__Location_신흥동,oh_encoder__Location_아름동,oh_encoder__Location_예산군,oh_encoder__Location_읍내동,oh_encoder__Location_이원면,oh_encoder__Location_정림동,oh_encoder__Location_홍성읍
,연도,일시,,,,,,,,,,,,,,,,,,,,,
0,4,01-01 00:00,-2.116831,-0.837176,0.001220,-0.162631,-0.637716,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,01-01 01:00,-2.196322,-0.688584,-0.142114,-0.162631,-0.631845,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,01-01 02:00,-2.355305,-1.249520,-1.017309,-0.162631,-0.139853,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,01-01 03:00,-2.404986,-1.249520,-1.017309,-0.162631,-0.034452,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,01-01 04:00,-2.464605,-1.249520,-1.017309,-0.162631,0.194543,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131371,4,11-18 19:00,-1.113256,1.537515,1.396926,-0.162631,-1.199875,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
131372,4,11-18 20:00,-1.162938,1.527299,0.985216,-0.162631,-1.212331,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
131373,4,11-18 21:00,-1.182811,1.550517,1.260337,-0.162631,-1.045517,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
131374,4,11-18 22:00,-1.222556,1.448360,1.532875,-0.162631,-0.960141,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
131375,4,11-18 23:00,-1.351729,1.588594,0.777149,-0.162631,-0.785652,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [285]:
#모델 예측
y_pred = my_model.predict(test_prepared)

In [286]:
test_prepared.shape, y_pred.shape

((131376, 22), (131376,))

In [287]:
y_pred

array([0.34847572, 0.3517238 , 0.39189765, ..., 0.05683333, 0.05896643,
       0.10801407], dtype=float32)

In [288]:
 from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_pred))

0.14098488455488403

In [291]:
sample = pd.DataFrame(y_pred, columns=['PM2.5'])

In [292]:
sample.value_counts()

PM2.5
0.350524    35
0.351960    26
0.354284    24
0.342604    22
0.326921    20
            ..
0.108625     1
0.108621     1
0.108619     1
0.108619     1
0.858987     1
Length: 125662, dtype: int64

In [302]:
df.drop('PM2.5', axis=1, inplace=True)

In [303]:
sample_df = pd.concat([df,sample],axis=1)
sample_df

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
0,4,01-01 00:00,공주,0.244866,0.123333,0.038363,0.0,0.647,0.348476
1,4,01-01 01:00,공주,0.232227,0.167778,0.033248,0.0,0.648,0.351724
2,4,01-01 02:00,공주,0.206951,0.000000,0.002558,0.0,0.734,0.391898
3,4,01-01 03:00,공주,0.199052,0.000000,0.002558,0.0,0.753,0.342321
4,4,01-01 04:00,공주,0.189573,0.000000,0.002558,0.0,0.795,0.346791
...,...,...,...,...,...,...,...,...,...
131371,4,11-18 19:00,홍성읍,0.404423,0.833611,0.089514,0.0,0.554,0.026315
131372,4,11-18 20:00,홍성읍,0.396524,0.830556,0.074169,0.0,0.552,0.039645
131373,4,11-18 21:00,홍성읍,0.393365,0.837500,0.084399,0.0,0.579,0.056833
131374,4,11-18 22:00,홍성읍,0.387046,0.806944,0.094629,0.0,0.593,0.058966
131375,4,11-18 23:00,홍성읍,0.366509,0.848889,0.066496,0.0,0.622,0.108014

In [304]:
sample_df.rename(columns={'Location':'측정소'}, inplace=True)

In [305]:
sample_df.drop(['기온(°C)','풍향(deg)','풍속(m/s)','강수량(mm)','습도(%)'], axis=1, inplace=True)

In [307]:
sample_df[48:120]

     연도           일시 측정소     PM2.5
48    4  01-03 00:00  공주  0.342232
49    4  01-03 01:00  공주  0.352534
50    4  01-03 02:00  공주  0.376071
51    4  01-03 03:00  공주  0.362786
52    4  01-03 04:00  공주  0.355457
..   ..          ...  ..       ...
115   4  01-05 19:00  공주  0.119175
116   4  01-05 20:00  공주  0.120846
117   4  01-05 21:00  공주  0.120846
118   4  01-05 22:00  공주  0.120805
119   4  01-05 23:00  공주  0.104590

[72 rows x 4 columns]

In [216]:
len(answer_sample)

78336

In [ ]:
en_window_s = 2*24
de_window_s = 3*24
new_x_data = []
for i in range(0,new_dfs['공주'].shape[0] - en_window_s - de_window_s,120):
    xs = []
    for input_loc, new_df in new_dfs.items():
        xs.append(new_df.iloc[i:i+en_window_s].to_numpy())
    new_x_data.append(xs)
    # y = pd.concat(ys, axis=1)
    # y_data.append(np.concatenate([np.zeros([1,y.shape[1]]), y], axis=0))
new_x_data = np.array(new_x_data)
a,b,c,d = new_x_data.shape
new_x_data = new_x_data.reshape(a,c,b,d)
print(new_x_data.shape)

In [221]:
twodays =24*2
threedays = 24*3
new_submission =[]
for x in range(twodays, len(answer_sample)-threedays):
    sub=[]
    for new_sample in sample_df.items():
        y = x+threedays
        sub.append(new_sample[x:y])
        x = y+twodays
    new_submission.append(sub)
#new_submission = np.array(new_submission)
#a,b,c,d = new_submission.shape
#new_x_data = new_submission.reshape(a,c,b,d)
new_submission =pd.DataFrame(new_submission, columns=['연도','일시','측정소','PM2.5'])
new_submission

       연도  일시 측정소 PM2.5
0      ()  ()  ()    ()
1      ()  ()  ()    ()
2      ()  ()  ()    ()
3      ()  ()  ()    ()
4      ()  ()  ()    ()
...    ..  ..  ..   ...
78211  ()  ()  ()    ()
78212  ()  ()  ()    ()
78213  ()  ()  ()    ()
78214  ()  ()  ()    ()
78215  ()  ()  ()    ()

[78216 rows x 4 columns]

In [235]:
twodays =24*2
threedays = 24*3

for x in range(twodays, len(answer_sample)-threedays):
    sub=[]
    y = x+ threedays
    sub.append(list(sample_df.iloc[x:y]))
    x = y+ twodays
    
    result=pd.DataFrame(sub,columns=['연도','일시','측정소','PM2.5'])
result

[['연도', '일시', '측정소', 'PM2.5']]

In [209]:
sample1 = sample_df[x:y] 
sample1
y=78335

SyntaxError: invalid syntax (16704577.py, line 1)

In [431]:
sample1.append(sample2)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_23236\3497694560.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sample1.append(sample2)

     연도           일시 측정소     PM2.5
48    4  01-03 00:00  공주  0.074344
49    4  01-03 01:00  공주  0.074344
50    4  01-03 02:00  공주  0.074344
51    4  01-03 03:00  공주  0.074344
52    4  01-03 04:00  공주  0.074344
..   ..          ...  ..       ...
235   4  01-10 19:00  공주  0.074344
236   4  01-10 20:00  공주  0.074344
237   4  01-10 21:00  공주  0.074344
238   4  01-10 22:00  공주  0.074344
239   4  01-10 23:00  공주  0.074344

[144 rows x 4 columns]

In [1]:
pd.concat([sample1,sample2,sample3], axis=0)

NameError: name 'pd' is not defined

In [415]:
sample2 = sample_df.iloc[168:240]
sample2

     연도           일시 측정소     PM2.5
168   4  01-08 00:00  공주  0.074344
169   4  01-08 01:00  공주  0.074344
170   4  01-08 02:00  공주  0.074344
171   4  01-08 03:00  공주  0.074344
172   4  01-08 04:00  공주  0.074344
..   ..          ...  ..       ...
235   4  01-10 19:00  공주  0.074344
236   4  01-10 20:00  공주  0.074344
237   4  01-10 21:00  공주  0.074344
238   4  01-10 22:00  공주  0.074344
239   4  01-10 23:00  공주  0.074344

[72 rows x 4 columns]

In [407]:
answer_sample

       연도           일시  측정소  PM2.5
0       4  01-03 00:00   공주    NaN
1       4  01-03 01:00   공주    NaN
2       4  01-03 02:00   공주    NaN
3       4  01-03 03:00   공주    NaN
4       4  01-03 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[78336 rows x 4 columns]

In [406]:
sample4 = sample_df[408:480] 
sample4

     연도           일시 측정소     PM2.5
408   4  01-18 00:00  공주  0.074344
409   4  01-18 01:00  공주  0.074344
410   4  01-18 02:00  공주  0.074344
411   4  01-18 03:00  공주  0.074344
412   4  01-18 04:00  공주  0.074344
..   ..          ...  ..       ...
475   4  01-20 19:00  공주  0.074344
476   4  01-20 20:00  공주  0.074344
477   4  01-20 21:00  공주  0.074344
478   4  01-20 22:00  공주  0.074344
479   4  01-20 23:00  공주  0.074344

[72 rows x 4 columns]

In [239]:
answer_sample

       연도           일시  측정소  PM2.5
0       4  01-03 00:00   공주    NaN
1       4  01-03 01:00   공주    NaN
2       4  01-03 02:00   공주    NaN
3       4  01-03 03:00   공주    NaN
4       4  01-03 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[78336 rows x 4 columns]

In [321]:
sample_df[48:120]

     연도           일시 측정소     PM2.5
48    4  01-03 00:00  공주  0.342232
49    4  01-03 01:00  공주  0.352534
50    4  01-03 02:00  공주  0.376071
51    4  01-03 03:00  공주  0.362786
52    4  01-03 04:00  공주  0.355457
..   ..          ...  ..       ...
115   4  01-05 19:00  공주  0.119175
116   4  01-05 20:00  공주  0.120846
117   4  01-05 21:00  공주  0.120846
118   4  01-05 22:00  공주  0.120805
119   4  01-05 23:00  공주  0.104590

[72 rows x 4 columns]

In [322]:
sub_df = pd.merge(answer_sample, sample_df, how='inner', on=['연도', '일시','측정소'])

In [324]:
sub_df.drop(['PM2.5_x'], axis=1, inplace=True)

In [325]:
sub_df

       연도           일시  측정소   PM2.5_y
0       4  01-03 00:00   공주  0.342232
1       4  01-03 01:00   공주  0.352534
2       4  01-03 02:00   공주  0.376071
3       4  01-03 03:00   공주  0.362786
4       4  01-03 04:00   공주  0.355457
...    ..          ...  ...       ...
78331   4  11-16 19:00  홍성읍  0.343935
78332   4  11-16 20:00  홍성읍  0.331046
78333   4  11-16 21:00  홍성읍  0.381027
78334   4  11-16 22:00  홍성읍  0.348002
78335   4  11-16 23:00  홍성읍  0.372068

[78336 rows x 4 columns]

In [326]:
sub_df.rename(columns={'PM2.5_y':'PM2.5'}, inplace=True)

In [327]:
sub_df

       연도           일시  측정소     PM2.5
0       4  01-03 00:00   공주  0.342232
1       4  01-03 01:00   공주  0.352534
2       4  01-03 02:00   공주  0.376071
3       4  01-03 03:00   공주  0.362786
4       4  01-03 04:00   공주  0.355457
...    ..          ...  ...       ...
78331   4  11-16 19:00  홍성읍  0.343935
78332   4  11-16 20:00  홍성읍  0.331046
78333   4  11-16 21:00  홍성읍  0.381027
78334   4  11-16 22:00  홍성읍  0.348002
78335   4  11-16 23:00  홍성읍  0.372068

[78336 rows x 4 columns]

In [328]:
sub_df.to_csv('submission2_xgboost.csv',index=None)

In [383]:
dataset_filtered = sample_df[sample_df['datetime'].between('01-03 00:00', '01-0')]
dataset_filtered

,연도,일시,Location,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),PM2.5
0,4,01-01 00:00,공주,0.244866,0.123333,0.038363,0.0,0.647,0.060
1,4,01-01 01:00,공주,0.232227,0.167778,0.033248,0.0,0.648,0.064
2,4,01-01 02:00,공주,0.206951,0.000000,0.002558,0.0,0.734,0.072
3,4,01-01 03:00,공주,0.199052,0.000000,0.002558,0.0,0.753,0.064
4,4,01-01 04:00,공주,0.189573,0.000000,0.002558,0.0,0.795,0.056
...,...,...,...,...,...,...,...,...,...
131371,4,11-18 19:00,홍성읍,0.404423,0.833611,0.089514,0.0,0.554,0.056
131372,4,11-18 20:00,홍성읍,0.396524,0.830556,0.074169,0.0,0.552,0.036
131373,4,11-18 21:00,홍성읍,0.393365,0.837500,0.084399,0.0,0.579,0.020
131374,4,11-18 22:00,홍성읍,0.387046,0.806944,0.094629,0.0,0.593,0.024
131375,4,11-18 23:00,홍성읍,0.366509,0.848889,0.066496,0.0,0.622,0.024